{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%static 'lab4_note_list.css'%}">
    <title>Note Cards</title>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/lab-4">Notes List</a></li>
        <li><a href="/lab-4/add-note">Add Note</a></li>
        <li><a class="active" href="/lab-4/note-list">Notes Card</a></li>
      </ul>
    </div>
    <h1>Note Cards</h1>
    {% if notes %}
      {% for i in notes %}
        <div class="card">
          <div class="container">
            <h3><u>Title: {{ i.title }}</u></h3>
            <p>To: {{ i.to }}</p>
            <p>From: {{ i.From }}</p>
            <p>Message: {{ i.message }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </body>
</html>
