{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%static 'lab4_index.css'%}">
    <title>Note Table</title>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a class="active" href="/lab-4">Notes List</a></li>
        <li><a href="/lab-4/add-note">Add Note</a></li>
        <li><a href="/lab-4/note-list">Notes Card</a></li>
      </ul>
    </div>
    <div>
      <table id="notes">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        {% if notes %}
          {% for i in notes %}
            <tr>
              <td>{{ i.to }}</td>
              <td>{{ i.From }}</td>
              <td>{{ i.title }}</td>
              <td>{{ i.message }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </body>
</html>
