{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%static 'lab4_form.css'%}">
    <title>Note Form</title>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/lab-4">Notes List</a></li>
        <li><a class="active" href="/lab-4/add-note">Add Note</a></li>
        <li><a href="/lab-4/note-list">Notes Card</a></li>
      </ul>
    </div>
    <h1> ADD NOTE </h1>
    <div class="form">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
