body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: rgb(71, 70, 70);
}

.navbar .active {
    background-color: #991973;
}

#notes {
    border-collapse: collapse;
    width: 100%;
}

#notes td, #notes th {
    border: 1px solid #cc56a9;
    padding: 8px;
}

#notes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #cc56a9;
    color: white;
    }

#notes tr:hover {background-color: #ddd;}

#notes tr:nth-child(even){background-color: #f7d0ec;}

