<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table style = "border: 2px solid black">
      <tr style = "border: 1px solid black">
        <th style = "border: 1px solid black">To</th>
        <th style = "border: 1px solid black">From</th>
        <th style = "border: 1px solid black">Title</th>
        <th style = "border: 1px solid black">Message</th>
      </tr>
      {% if notes %}
        {% for i in notes %}
          <tr style = "border: 1px solid black">
            <th style = "border: 1px solid black">{{ i.to }}</th>
            <th style = "border: 1px solid black">{{ i.From }}</th>
            <th style = "border: 1px solid black">{{ i.title }}</th>
            <th style = "border: 1px solid black">{{ i.message }}</th>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
