<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table style = "border: 2px solid black">
      <tr 
      >
        <th style = "border: 1px solid black"> Name</th>
        <th style = "border: 1px solid black">NPM</th>
        <th style = "border: 1px solid black">DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %}
        {% for i in friends %}
          <tr style = "border: 1px solid black">
            <th style = "border: 1px solid black">{{ i.name }}</th>
            <th style = "border: 1px solid black">{{ i.npm }}</th>
            <th style = "border: 1px solid black">{{ i.dob }}</th>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
